<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_Tarea2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3D3CD7A1C9D211100605254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3D3CD8E1C9D211500605254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3D3CD991C9D211500605254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
